*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 90px;
    background-color: tomato;
}

#logo {
    width: 100px;
    height: 80px;
    float: left;
    margin: 5px 0px 0px 5px;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#menu{
    width: fit-content;
    height: 50px;
    float: right;
    margin: 20px 5px 0px 0px;
}

#menu ul {
    list-style: none;
}

#menu li {
    float: left;
    margin: 15px 0px 0px 20px;
}

#menu a {
    color: rgb(158, 241, 235);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#menu a:hover {
    background-color: rgb(255, 133, 32);
    padding: 10px 5px;
    color: white;
    border-radius: 5px;
}

.container-items {
    width: 100%;
    height: calc(100vh - 590px);
}

.item {
    width: 200px;
    height: 350px;
    float: left;
    margin: 5px;
}

.item img {
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.animated-text {
    width: 100%;
    height: 50px;
}

.animated-text .text {
    margin-left: 25px;
    width: 150px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.animated-text .text:first-child{
    margin-bottom: 2px;
}

.container-btn {
     width: 100%;
     height: 50px;
}

.btn1{
    border: none;
    outline: none;
    margin: 0px auto;
    background: rgb(114, 168, 199);
    padding: 10px 35px;
    transition: .2s ease;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;

}

.btn2{
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: rgb(238, 149, 133);
    transition: .2s ease;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.btn1:hover {
    background: rgb(27, 168, 250);
    color: white;
}

.btn2:hover{
    background-color: tomato;
    color: white;
}

.clear{
    clear: both;
}

.container-img-text{
    width: 80%;
    height: 300px;
    margin: 10px auto 5px auto;
}

.container-img-text .img {
    width: 49%;
    height: 300px;
    float: left;
}

.img img {
    width: 100%;
    height: 100%;
}

.text-right {
    background: rgba(0,0,0,.1);
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}

.text-right a {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.centre{
    width: 80%;
    height: auto;
    margin: 0px auto;
    text-align: justify;
}

.text-right a button {
    width: 150px;
    background: lightblue;
    padding: 10px 10px;
    text-align: center;
    transition: .2s ease-in;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    border: none    ;

}

.text-right a button:hover {
    background-color: rgb(38, 132, 255);
    color: white;
    width: 300px;
}

footer{
    background-color: rgb(10, 61, 98);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
}

footer a {
    margin: 0 20px;
    width: 80px;
    height: 80px;
    background: rgb(204, 204, 204);
    display: inline-block;
    border-radius: 24px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0,.15),
                -6px -6px 12px rgba(255,255,255,.1);
    font-size: 28px;
    transition: .3s linear;
    overflow: hidden;
    position: relative;
}

footer a:hover {
    transform: scale(1.3);
    border-radius: 50%;
}

footer a i::before{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 75% 75%;
    top: 0;
    left: 0;
    line-height: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover i::before{
    background-position: 0% 0%;
}

.fa-facebook-f::before{
    background-image: linear-gradient(135deg,#0034a5 30%,#0a3d62 50%);
}

.fa-twitter::before{
    background-image: linear-gradient(135deg,#1da1f2 30%,#0a3d62 50%);
}

.fa-instagram::before{
    background-image: linear-gradient(135deg,#c32aa3 30%,#0a3d62 50%);
}

.fa-linkedin-in::before{
    background-image: linear-gradient(135deg,#007bb5 30%,#0a3d62 50%);
}






















































